[
{ e_alto, [
{ uri_base, "http://localhost:8080"},
{ defaultmap, {"/networkmap", "test/json/interop-ietf93/default-network-map.json"} },
{ maps, [{"/altnetworkmap","test/json/interop-ietf93/alt-networkmap.json"} ] },
{ schema, "src/alto.jsd" },
{ costmaps, [ { "/routingcost", "test/json/interop-ietf93/routingcost-costmap.json" }, 
			  { "/alt-routingcost", "test/json/interop-ietf93/alt-routingcost-costmap.json" },
			  { "/hopcount", "test/json/interop-ietf93/hopcount-costmap.json" },
			  { "/alt-hopcount", "test/json/interop-ietf93/alt-hopcount-costmap.json" } ] },
{ epdefpath, "/eps" },
{ epfiles, { "/eps", [ "test/json/ep_set1.json", "test/json/ep_set2.json" ] }},
{ epcsfiles, { "/epcs", [ "test/json/epcs_set1.json" ] }},
{ epcsfpath, "/epcs" },
{ autoprops, [pids] }

]},
{lager, [
  {log_root, "."},
  {handlers, [
    {lager_console_backend, debug},
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
  ]}
]}
].
