[
{ e_alto, [
{ uri_base, "http://localhost"},
{ defaultmaploc, "test/json/default-map.json"},
{ defaultmappath, "/networkmap" },
{ schema, "src/alto.jsd" },
{ hostbase, "http://localhost" }
]},
{lager, [
  {log_root, "."},
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
  ]}
]}
].
