[
{ e_alto, [

{ uri_base, "http://localhost"},
{ defaultmaploc, "test/json/default-map.json"},
{ defaultmappath, "/networkmap" },
{ schema, "src/alto.jsd" },
{ hostbase, "http://localhost" },
{ costmaps, [ { "/costmaps/1", "test/json/default-costmap.json" } ] },
{ epdefpath, "/eps" },
{ epfiles, { "/eps", [ "test/json/ep_set1.json", "test/json/ep_set2.json" ] }},
{ epcsfiles, { "/epcs", [ "test/json/epcs_set1.json" ] }},
{ epcsfpath, "/epcs" }

]},
{lager, [
  {log_root, "."},
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
  ]}
]}
].
