{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [
	  {ej, ".*", {git, "https://github.com/seth/ej.git"}},
	  {ej_merge, ".*", {git, "https://github.com/lylebe/ej_merge"}},
	  {jesse, ".*", {git, "https://github.com/klarna/jesse.git"}},
	  {uuid, ".*", {git, "https://github.com/okeuday/uuid"}},
	  {trie, ".*", {git, "https://github.com/okeuday/trie"}},
	  {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb"}},
	  {lager, ".*", {git, "https://github.com/basho/lager.git"}}
	] 
}.
